

body {

background-color: hsl(217, 54%, 11%);
}









.card {
  position: absolute;
  margin: 100px 753px;
  width: 400px;
  height: 690px;
  background-color: hsl(216, 50%, 17%);
border-radius: 15px 15px 15px 15px;
overflow: hidden;
}


.eth{
  position: relative;
  margin-top: 25px;
  margin-left: 26px;
  border-radius: 10px 10px 9px 9px;
  height: 350px;
  width: 350px;
}


.eye{
  display: none;
  position: absolute;
  margin-left: 168px;
  top: 168px;
  width: 70px;
  height: 50px;
  opacity: 3;
}


.card:hover .eye{
  display: block;
}

.card:hover .white{
  display: block;
}


.white{
  display: none;
  background-color: hsl(178, 100%, 50%);
  border-radius: 10px 10px 9px 9px;
  position: absolute;
  margin-left: 26px;
  top: 23px;
  width: 350px;
  height: 353px;
opacity: .3;

}





.me{
  color: white;
  border: 2px solid;
border-radius: 25px 25px 25px 25px;
  position: absolute;
  margin-top: 240px;
  left: 29px;
  margin-bottom: 11px;
  height: 40px;
  width:40px;
}




.creation{
  font-size: 1.0rem;
  position: absolute;
  margin-left: 90px;
  margin-top: 10px;
  top: 620px;
font-family: 'Outfit', sans-serif
}



.of{
  color: hsl(215, 51%, 70%);
}




.e{
  margin-left: 5px;
  color:  hsl(0, 0%, 100%);
}

.e:hover{
  color: hsl(178, 100%, 50%);
}





.eq{
  display: inline-block;
font-family: 'Outfit', sans-serif;
font-weight: 400;
  position: absolute;
  color: hsl(0, 0%, 100%);
font-size: 25px;
margin-top: 25px;
left: 25px;

}

.eq:hover{
  color: hsl(178, 100%, 50%);
}





.our{
    font-weight: lighter;
      position: absolute;
      margin-bottom: 200px;
      margin-left: 25px;
      bottom: 11px;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}





.balance{
  font-weight: lighter;
  font-family: 'Outfit', sans-serif;
font-size: 20px;
  position: absolute;
margin-bottom: 100px;
margin-left: 25px;
bottom: 80px;
  color:hsl(215, 51%, 70%);
}




.lil{
  height:19px;
  width:11px;
  position: relative;
  margin-left: 25px;
  margin-top: 160px;
}



.clock{
  position: absolute;
  left: 230px;
  height: 15px;
  width: 15px;
  margin-left: 42px;
  margin-top: 541px;
  margin-right: 530px;
}





 .zero{
   font-size: 1.0rem;
   font-weight: 500;
   font-family: 'Outfit', sans-serif;
   position: absolute;
   bottom: 116px;
   margin-left: 45px;
   color: hsl(178, 100%, 50%);

}




.days{
font-family: 'Outfit', sans-serif;
  font-weight: 300;
   color: hsl(215, 51%, 70%);
  position: relative;
  margin-bottom: 700px;
  margin-left: 298px;
  bottom: 40px;
}






.line{
  color: hsl(215, 32%, 27%);
  position: absolute;
  border: 1px solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-left: 28px;
  top: 590px;
width: 345px;

}






.frontend{
  color: hsl(0, 0%, 100%);
  text-decoration: underline;
}





.chall{
  color: hsl(215, 51%, 70%);
  font-size: 20px;
  position: absolute;
  margin-left: 900px;
  bottom: 50px;
}




.code{
  color: hsl(215, 51%, 70%);
font-size: 20px;
  position: absolute;
  margin-left: 700px;
  bottom: 50px;


}
